<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grandma's Lemon Meringue Pie</title>
    <link rel="stylesheet" href="/granny/recipe.css">
    <link rel="icon" href="/granny/img/pie-icon.gif" type="image/gif">
</head>
<body>

    <header>
        <h1>Grandma's Lemon Meringue Pie</h1>
        <img src="/granny/img/pie-1.jpg" alt="Lemon Meringue Pie" width="400">
    </header>

    <section>
        <h2>Ingredients</h2>
        <ul>
            <img src="/granny/img/silverware.jpg" >
            <li>1 cup white sugar</li>
            <li>2 <span class="tooltip" title="tablespoons">tbsp</span> all-purpose flour</li>
            <li>3 <span class="tooltip" title="tablespoons">tbsp</span> cornstarch</li>
            <li>1/4 <span class="tooltip" title="teaspoon">tsp</span> salt</li>
            <li>1 1/2 cups water</li>
            <li>2 lemons, juiced and zested</li>
            <li>2 tbsp butter</li>
            <li>4 egg yolks, beaten</li>
            <li>1 (9 inch) pie crust, baked</li>
            <li>4 egg whites</li>
            <li>6 tbsp white sugar</li>
        </ul>
    </section>  

    <section>
        <h2>Directions</h2>
        <ol>
            <li><strong>Preheat Oven:</strong> 350°F (175°C).</li>
            <li><strong>Make Lemon Filling:</strong> Mix sugar, flour, cornstarch, and salt...</li>
            <li><strong>Make Meringue:</strong> Whip egg whites...</li>
            <li><strong>Bake:</strong> Bake for 10 minutes until golden brown.</li>
        </ol>
    </section>

    <section>
        <h2>Links</h2>
        <img src="/granny/img/pie-1.jpg" >
        <br>
        <a href="/granny/views/index.html">Home</a>
        <a href="/granny/views/recipe.html">recipe</a>
    </section>

    <footer>
        <pre>
Copyright © 2012 Granny's Pies          
A Granny's Pies Production           
All rights reserved                
        </pre>
    </footer>

</body>
</html>
