/*  Page Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
  }
  
  /* Header and Footer */
  header, footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  /* Nav Styles */
  nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  .card-img-top {
    max-height: 250px !important;  
    width: 100% !important;        
    object-fit: cover !important;   
  }
  
  /* Button Styles */
  .btn, button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .btn:hover, button:hover {
    background-color: #2980b9;
  }
  
  /* Pressed Button */
  .pressed {
    background-color: #1c6390 !important; 
  }
  
  /* Add to Cart Buttons */
  .added {
    background-color: #2ecc71 !important; 
    transform: scale(1.05);
  }
  

  #splash {
    padding: 40px 0;
    text-align: center;
  }
  
  #splash h2 {
    font-size: 2.5em;
  }
  
  #search {
    text-align: center;
    margin-top: 20px;
  }
  